html {
  height: 100vh !important;
  background-color: #f5f5f5;
}

.background-navBar {
  background: #ffffff !important;
  border-radius: 0px 16px 16px 0px;
  border-left: 1px solid #eaeaea;
}

.navLink {
  display: flex;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  transition: all 150ms ease;
  cursor: pointer;
  border: none;
  margin-top: 2px;
}
.navLink:hover {
  background-color: #feffe7;
}

a.active {
  background-color: #b0bf24 !important;
  color: #f5f5f5 !important;
}
a.active p {
  color: #f5f5f5 !important;
}

a.active span {
  color: #f5f5f5 !important;
}
.navLink-mobile {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea !important;
  display: flex;
  padding: 3px 7px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;
  border-radius: 6px;
  transition: all 150ms ease;
  cursor: pointer;
  border: none;
  margin: 5px;
}
.navLink-mobile:hover {
  background-color: #feffe7;
}

.css-seuqzu-MuiListItemIcon-root {
  min-width: 10px !important;
}

.calender-form {
  width: 24px !important;
  height: 24.5px !important;
}

.css-14twxji {
  flex-direction: row !important;
}

.profile {
  width: 104px;
  height: 104px;
}

.container {
  width: 100vw;
  display: flex;
  background-color: #f5f5f5;
  margin-top: 60px;
  border-radius: 16px;
}

.camera {
  position: relative;
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
  position: unset !important;
}

.error404 {
  width: 400px;
}

@media (max-width: 667px) {
  .main {
    border-radius: 16px !important;
    margin: 10px;
    display: flex;
  }
  .main-wrapper {
    padding: 0px !important;
  }
  .MuiButton-root.css-167cn4x {
    font-size: 10px !important;
  }
  .background-navBar {
    border: none !important;
    background-color: #f5f5f5;
    border-radius: unset;
  }
  .MuiBox-root.css-om36vz {
    width: unset !important;
  }

  .MuiButton-root.css-167cn4x,
  .MuiButton-root.css-1ycemqv {
    font-size: 10px !important;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .css-xvjfy8-MuiListItemIcon-root {
    display: block !important;
  }
}

@media (min-width: 667px) {
  .MuiBox-root.css-om36vz {
    width: unset !important;
  }
}
